*{
  margin : 0;
  padding : 0;
}

body {
  background-image: url('images/fond_jaune.png');
  margin-left: 8rem;
  margin-right: 8rem;
  margin-top: 1.5rem;
}

/* header */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .hp1  h1{
  font-weight: 100;
}

header nav {
  display: flex;
  width: 32%;
  justify-content: space-between;
}

header nav li {
  list-style: none;
}
header nav a:hover{
  border-bottom: 2px solid red;
  color: red;
}

header nav li a {
  text-decoration: none;
  color : black;
  font-size: 1rem;
}

/* title_article */

.title_article img {
  width: 100%;
  min-height: 15rem;
}
.title_article .ta{
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.5);
  color : white;
  position: relative;
  bottom: 3.2rem;
  align-items: flex-end;
}
.title_article .ta a{
  padding: .5rem .75rem;
  margin: .4rem;
  background-color: red;
  text-decoration: none;
  color : white;
  border-radius: 5px;
}
.title_article .ta a:hover{
  background-color: #b30000;
}

/*Section */

section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;

}
article {
  width: 60%;
  min-height: 30rem;
}
article .art_tit{
  display: flex;
  align-items: center;
}
article .art_tit h1{
  margin: 1rem;
}
aside{
  width: 25%;
  margin-left: 5rem;
  background-color: grey;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 30rem;

}
aside img{
  margin: 1rem;
}
.social {
  position: relative;
  top : 4.5rem;
  display: flex;
  justify-content: space-around;
  width: 85%;
}
.facebook {
  background-image: url('images/facebook.png');
  padding: 1.5rem;
  background-repeat: no-repeat;
}
.twitter {
  background: url('images/twitter.png');
  padding: 1.5rem;
  background-repeat: no-repeat;
}
.vimeo{
  background: url('images/vimeo.png');
  padding: 1.5rem;
  background-repeat: no-repeat;
}
.f{
  background: url('images/flickr.png');
  padding: 1.5rem;
  background-repeat: no-repeat;
}
.rss{
  background : url('images/rss.png');
  padding : 1.5rem;
  background-repeat: no-repeat;
}

/* Footer */

footer
{
    display: flex;
    background:  url('images/ico_top.png') no-repeat top center, url('images/separateur.png') repeat-x top, url('images/ombre.png') repeat-x top;
    padding-top: 25px;
    
}

footer p, footer ul
{
    font-size: 0.8em;
}

footer h1
{
    font-size: 1.1em;
}


#tweet
{
    width: 28%;
}

#mes_photos
{
    width: 35%;
}

#mes_amis
{
    width: 31%;
}

#mes_photos img
{
    border: 1px solid #181818;
    margin-right: 2px;
}

#listes_amis
{
    display: flex;
    justify-content: space-between;
    margin-top: 0;
}

#mes_amis ul
{
    list-style-image: url('images/ico_liensexterne.png');
    padding-left: 2px;
}

#mes_amis a
{
    text-decoration: none;
    color: #760001;
}
