*{
  margin : 0;
  padding : 0;
}

body {
  background-image: url('images/fond_jaune.png');
  margin-left: 8rem;
  margin-right: 8rem;
  margin-top: 1.5rem;
}

/* header */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .hp1  h1{
  font-weight: 100;
}

header nav {
  display: flex;
  width: 32%;
  justify-content: space-between;
}

header nav li {
  list-style: none;
}
header nav a:hover{
  border-bottom: 2px solid red;
  color: red;
}

header nav li a {
  text-decoration: none;
  color : black;
  font-size: 1rem;
}

/* title_article */

.title_article img {
  width: 100%;
  min-height: 15rem;
}
.title_article .ta{
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.5);
  color : white;
  position: relative;
  bottom: 3.2rem;
  align-items: flex-end;
}
.title_article .ta a{
  padding: .5rem .75rem;
  margin: .4rem;
  background-color: red;
  text-decoration: none;
  color : white;
  border-radius: 5px;
}
.title_article .ta a:hover{
  background-color: #b30000;
}

/*Section */

section {
  display: flex;
  justify-content: space-between;
}
article {
  width: 60%;
  min-height: 30rem;
}
article .art_tit{
  display: flex;
  align-items: center;
}
article .art_tit h1{
  margin: 1rem;
}
aside{
  width: 20%;
  margin-left: 5rem;
  background-color: grey;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 15rem;
}
